package-lock.json
node_modules

backup

wordpress/*.*
wordpress/wp-admin/
wordpress/wp-includes/
wordpress/wp-content/*.*
wordpress/wp-content/uploads/
wordpress/wp-content/languages/
wordpress/wp-content/ai1wm-backups/
wordpress/wp-content/mu-plugins/*
wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/cgb-theme

wordpress/wp-content/themes/*
!wordpress/wp-content/themes/ssf
