@font-face {
    font-family: 'icomoon';
    src:  url('icomoon/icomoon.eot?vm4adc');
    src:  url('icomoon/icomoon.eot?vm4adc#iefix') format('embedded-opentype'),
    url('icomoon/icomoon.ttf?vm4adc') format('truetype'),
    url('icomoon/icomoon.woff?vm4adc') format('woff'),
    url('icomoon/icomoon.svg?vm4adc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-archive:before {
    content: "\e900";
}
.icon-clock:before {
    content: "\e901";
}
.icon-credit-card:before {
    content: "\e902";
}
.icon-delivery-cabinet:before {
    content: "\e903";
}
.icon-delivery-home:before {
    content: "\e904";
}
.icon-faq:before {
    content: "\e905";
}
.icon-file:before {
    content: "\e906";
}
.icon-hand-like:before {
    content: "\e907";
}
.icon-history:before {
    content: "\e908";
}
.icon-home:before {
    content: "\e909";
}
.icon-lock:before {
    content: "\e90a";
}
.icon-main-questions:before {
    content: "\e90b";
}
.icon-map-marker:before {
    content: "\e90c";
}
.icon-pay-cash:before {
    content: "\e90d";
}
.icon-pay-wallet:before {
    content: "\e90e";
}
.icon-quit:before {
    content: "\e90f";
}
.icon-refresh:before {
    content: "\e910";
}
.icon-return-cabinet:before {
    content: "\e911";
}
.icon-return:before {
    content: "\e912";
}
.icon-settings:before {
    content: "\e913";
}
.icon-sign-in:before {
    content: "\e914";
}
.icon-support-user:before {
    content: "\e915";
}
.icon-update:before {
    content: "\e916";
}
.icon-upload:before {
    content: "\e917";
}
.icon-user-2:before {
    content: "\e918";
}
.icon-verified:before {
    content: "\e919";
}
.icon-videocamera:before {
    content: "\e91a";
}
.icon-www:before {
    content: "\e91b";
}
.icon-park-radar:before {
    content: "\e91c";
}
.icon-smartphone:before {
    content: "\e91d";
}
.icon-lenses:before {
    content: "\e91e";
}
.icon-kombo:before {
    content: "\e91f";
}
.icon-medal:before {
    content: "\e920";
}
.icon-photo-camera:before {
    content: "\e921";
}
.icon-price-tag:before {
    content: "\e922";
}
.icon-share:before {
    content: "\e923";
}
.icon-signal-symbol:before {
    content: "\e924";
}
.icon-idea:before {
    content: "\e925";
}
.icon-industrial-robot:before {
    content: "\e926";
}
.icon-car-sensors:before {
    content: "\e927";
}
.icon-credit-card1:before {
    content: "\e928";
}
.icon-battery:before {
    content: "\e929";
}
.icon-arrow:before {
    content: "\e92a";
}
.icon-brain:before {
    content: "\e92b";
}
.icon-brif:before {
    content: "\e92c";
}
.icon-cancel:before {
    content: "\e92d";
}
.icon-cart:before {
    content: "\e92e";
}
.icon-chevron:before {
    content: "\e92f";
}
.icon-click:before {
    content: "\e930";
}
.icon-close:before {
    content: "\e931";
}
.icon-correct:before {
    content: "\e932";
}
.icon-delivery:before {
    content: "\e933";
}
.icon-diamond:before {
    content: "\e934";
}
.icon-discuss:before {
    content: "\e935";
}
.icon-email:before {
    content: "\e936";
}
.icon-fara:before {
    content: "\e937";
}
.icon-fb:before {
    content: "\e938";
}
.icon-form-tel:before {
    content: "\e939";
}
.icon-free-delivery:before {
    content: "\e93a";
}
.icon-full-screen:before {
    content: "\e93b";
}
.icon-get-goods:before {
    content: "\e93c";
}
.icon-get-offer:before {
    content: "\e93d";
}
.icon-hands:before {
    content: "\e93e";
}
.icon-history1:before {
    content: "\e93f";
}
.icon-home1:before {
    content: "\e940";
}
.icon-information:before {
    content: "\e941";
}
.icon-instagram:before {
    content: "\e942";
}
.icon-like:before {
    content: "\e943";
}
.icon-logout:before {
    content: "\e944";
}
.icon-manager:before {
    content: "\e945";
}
.icon-many-goods:before {
    content: "\e946";
}
.icon-message:before {
    content: "\e947";
}
.icon-money:before {
    content: "\e948";
}
.icon-monitor:before {
    content: "\e949";
}
.icon-order:before {
    content: "\e94a";
}
.icon-percent:before {
    content: "\e94b";
}
.icon-personal-discount:before {
    content: "\e94c";
}
.icon-question:before {
    content: "\e94d";
}
.icon-return1:before {
    content: "\e94e";
}
.icon-search:before {
    content: "\e94f";
}
.icon-shield:before {
    content: "\e950";
}
.icon-sign:before {
    content: "\e951";
}
.icon-success:before {
    content: "\e952";
}
.icon-sun:before {
    content: "\e953";
}
.icon-support:before {
    content: "\e954";
}
.icon-tel:before {
    content: "\e955";
}
.icon-umbrella:before {
    content: "\e956";
}
.icon-update1:before {
    content: "\e957";
}
.icon-user:before {
    content: "\e958";
}
.icon-video-reg:before {
    content: "\e959";
}
.icon-viewfinder:before {
    content: "\e95a";
}
.icon-vk:before {
    content: "\e95b";
}
.icon-wallet:before {
    content: "\e95c";
}
.icon-warranty:before {
    content: "\e95d";
}
.icon-youtube:before {
    content: "\e95e";
}
.icon-radar:before {
    content: "\1f31e";
}
